/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    background: #c6c6c6;
    position: relative;
    height: 100vh;
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
}

#root, #app {
    width: 100%;
    height: 100%;
}
