.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    width: 60%;
    height: 4px;
    margin: 3px auto;
    background: white;
    border-radius: 2px;
}